/*



import { BackupJob } from '../types/types'

export const DROPBOX_API_KEY = ''
export const TEMP_PATH = 'C:\\backuppy'

export const jobs: BackupJob[] = [
  {
    uri: '', // Mongo URI
    dbName: '', // Db Name
    collections: [], // Collections to backup
  },
]



*/
